footer
{
    background: #1a1a1a94;
    height: auto;

    .container
    {
        padding-top: 10em;
        padding-bottom: 2em;

        .row
        {

.card-text-Header
{
    div
    {
        text-align: center;
        padding: 4em 0em;

        h1{
            font-size: 50px;
            .span1{
                color: whitesmoke;
            }

            .span2{
                color: #ff6b008f;
            }

            .span3{
                color: #ffffff47;
            }

        }




    }
}



.card-icon-and-text
{
 
    
    div
    {
        border: solid;
        height: 22vh;
        text-align: center;
        padding: 1em;
        background-color: #3f4c4e4a;


        img{
            display: block;
            margin: auto;
            width: 20%;
            margin-bottom: 1em;
        }

        a{
            display: block;
            direction: initial;
        }
        a:hover{
            color: #d2d2d2;
        }
    }
}










        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) 
{ 
    footer
{
    background: #1a1a1a94;
    height: auto;

    .container
    {
        padding-top: 10em;
        padding-bottom: 2em;

        .row
        {

.card-text-Header
{
    div
    {
        text-align: center;
        padding: 4em 0em;

        h1{
            font-size: 50px;
            .span1{
                color: whitesmoke;
            }

            .span2{
                color: #ff6b008f;
            }

            .span3{
                color: #ffffff47;
            }

        }




    }
}



.card-icon-and-text
{
    margin: 2em 0em;
 
    
    div
    {
        border: solid;
        height: 22vh;
        text-align: center;
        padding: 1em;
        background-color: #3f4c4e4a;


        img{
            display: block;
            margin: auto;
            width: 35%;
            margin-bottom: 1em;
        }

        a{
            display: block;
            direction: initial;
            font-size: 13px;
        }
        a:hover{
            color: #d2d2d2;
        }
    }
}










        }
    }
} 
}





@media (min-width: 576px) and (max-width: 767.98px) 
{ 
    footer
{
    background: #1a1a1a94;
    height: auto;

    .container
    {
        padding-top: 10em;
        padding-bottom: 2em;

        .row
        {

.card-text-Header
{
    div
    {
        text-align: center;
        padding: 4em 0em;

        h1{
            font-size: 50px;
            .span1{
                color: whitesmoke;
            }

            .span2{
                color: #ff6b008f;
            }

            .span3{
                color: #ffffff47;
            }

        }




    }
}



.card-icon-and-text
{
    margin: 2em 0em;
 
    
    div
    {
        border: solid;
        height: 26vh;
        text-align: center;
        padding: 1em;
        background-color: #3f4c4e4a;


        img{
            display: block;
            margin: auto;
            width: 20%;
            margin-bottom: 1em;
        }

        a{
            display: block;
            direction: initial;
            font-size: 13px;
        }
        a:hover{
            color: #d2d2d2;
        }
    }
}










        }
    }
} 
}


@media (max-width: 575.98px)
{ 
    footer
{
    background: #1a1a1a94;
    height: auto;

    .container
    {
        padding-top: 10em;
        padding-bottom: 2em;

        .row
        {

.card-text-Header
{
    div
    {
        text-align: center;
        padding: 4em 0em;

        h1{
            font-size: 50px;
            .span1{
                color: whitesmoke;
            }

            .span2{
                color: #ff6b008f;
            }

            .span3{
                color: #ffffff47;
            }

        }




    }
}



.card-icon-and-text
{
    margin: 2em 0em;
 
    
    div
    {
        border: solid;
        height: 22vh;
        text-align: center;
        padding: 1em;
        background-color: #3f4c4e4a;


        img{
            display: block;
            margin: auto;
            width: 7%;
            margin-bottom: 1em;
        }

        a{
            display: block;
            direction: initial;
        }
        a:hover{
            color: #d2d2d2;
        }
    }
}










        }
    }
} 
}