.Section2-Nav
{
    height: auto;
    overflow: hidden;
    background: #1a1a1a94;
 
 


.row
{
    .container{
        color: #ffffff;
        box-shadow: 0px 0px 4px 1px #e3ff970a;
        margin: 6em auto 0em;
        border-radius: 20px;
        padding: 2em 1em;


.card-text-Header
{
    text-align: initial;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 6em;
    div{
        h1
        {
            font-size: 2.6em;
            color: #ffffff;;
            font-family: 'Markazi Text', serif;
            display: inline-block;
            padding: .5em 0em;

        }
    }
}






.card-text-header-Prgraf
{
    div{

        text-align: initial;

        h1{
            display: inline-block;
            border-bottom: solid;
            margin-bottom: 1em;
        }

        h2{
            text-align: center;
            margin-bottom: 2em;
        }

        p{
            background-color: #3f4c4e4a;
            width: 640px;
            font-size: larger;
            margin-bottom: 3em;
            padding: 15px;
            border: 1px solid #3f4c4e;
            color: #f3f1f1;
            line-height: 30px;
            letter-spacing: 1px;
        }

    }
}


 








    }
}

}


@media (min-width: 576px) and (max-width: 767.98px) 
{ 
    .Section2-Nav
    {
        height: 400vh;
        overflow: hidden;
        background: #1a1a1a94;
     
     
    
    
    .row
    {
        .container{
            height: 100vh;
            color: #ffffff;
            box-shadow: 0px 0px 4px 1px #e3ff970a;
            margin: 6em auto 0em;
            border-radius: 20px;
            padding: 2em 1em;
    
    
    .card-text-Header
    {
        text-align: initial;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 6em;
        div{
            h1
            {
                font-size: 2.6em;
                color: #ffffff;;
                font-family: 'Markazi Text', serif;
                display: inline-block;
                padding: .5em 0em;
    
            }
        }
    }
    
    
    
    
    
    
    .card-text-header-Prgraf
    {
        div{
    
            text-align: initial;
    
            h1{
                display: inline-block;
                border-bottom: solid;
                margin-bottom: 1em;
            }
    
            h2{
                text-align: center;
                margin-bottom: 2em;
            }
    
            p{
                background-color: #3f4c4e4a;
                width: auto ;
                font-size: larger;
                margin-bottom: 3em;
                padding: 15px;
                border: 1px solid #3f4c4e;
                color: #f3f1f1;
                line-height: 30px;
                letter-spacing: 1px;
            }
    
        }
    }
    
    
     
    
    
    
    
    
    
    
    
        }
    }
    
    }
}


@media (max-width: 575.98px) 
{
    .Section2-Nav
{
    height: 330vh;
    overflow: hidden;
    background: #1a1a1a94;
 
 


.row
{
    .container{
        height: 100vh;
        color: #ffffff;
        box-shadow: 0px 0px 4px 1px #e3ff970a;
        margin: 6em auto 0em;
        border-radius: 20px;
        padding: 2em 1em;
        margin: 1em;


.card-text-Header
{
    text-align: initial;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 6em;
    div{
        h1
        {
            font-size: 2.6em;
            color: #ffffff;;
            font-family: 'Markazi Text', serif;
            display: inline-block;
            padding: .5em 0em;

        }
    }
}






.card-text-header-Prgraf
{
    div{

        text-align: initial;

        h1{
            display: inline-block;
            border-bottom: solid;
            margin-bottom: 1em;
        }

        h2{
            text-align: center;
            margin-bottom: 2em;
        }

        p{
            background-color: #3f4c4e4a;
            width: auto;
            font-size: larger;
            margin-bottom: 3em;
            padding: 15px;
            border: 1px solid #3f4c4e;
            color: #f3f1f1;
            line-height: 30px;
            letter-spacing: 1px;
        }

    }
}


 








    }
}

} 
}